<li ng-repeat="item in search.items">

  <b> {{item.name}} </b><br>
  {{item.description}}<br>
  <button ng-click="search.onRemove({index: $index});">Remove Item</button>

</li>

<!--
(<a href="" ng-click="search.deleteItem(item.name);">{{ item.name }}</a>)

<h3>Title: {{ list.myTitle }}</h3>
<ol>
  <li ng-repeat="item in list.items">
    {{ item.quantity }} of {{ item.name }}
    <button ng-click="list.badRemove($index);">Bad Remove Item</button>
    <button ng-click="list.onRemove({index: $index});">Remove Item</button>
  </li>
</ol>
<div class="error" ng-if="list.cookiesInList()">WARNING! WARNING! COOKIES DETECTED!</div>
-->
